html {
}

body {
  background: #323846;
  overflow-x: hidden;
  height: 100%;
}

.site {
  align: center
}

.grid-wrapper {
  margin: 20px;
}

.cell {
  /*display: flex;*/
  /*justify-content: center;*/
  display: inline-block;
  align-items: center;
  border-radius: 2px;
  /*box-shadow: inset 20px 20px 60px #2a2e3a, inset -20px -20px 60px #2a2e3a;*/
  color: var(--text-dark);
  width: 30px;
  height: 30px;
  padding: 2px;
  margin: 2px;
}

.default {
  background: #3949AB;
}

.obstacle {
  background: #9949AB;
}

.goal {
  background: #FFC107
}

.path {
  background: #AF5107
}

.row {
    margin: -3px;
    padding: 0;
}
